@mixin text($w, $s, $l, $c) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    &__pagination {
        display: flex;
        flex-direction: row;
        align-items: center;;
        @include text(600, 17px, 16px, rgb(90, 156, 255));

        &__pages {
            display: flex;
            flex-direction: row;

            &__block {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 20px;
                background: white;
                border-radius: 5px;
                border: solid 2px rgba(90, 156, 255, 0.3);
                @include text(600, 16px, 16px, rgb(90, 156, 255));
            }

            &__select_block {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 20px;
                background: rgba(90, 156, 255, .5);
                border-radius: 5px;
                border: solid 2px rgba(90, 156, 255, .5);
                margin-right: 0, 5px;
                @include text(600, 16px, 16px, #fffff0);
                cursor: pointer;
            }

            &__select_block:hover {
                background-color: rgba(90, 156, 255, .5);
            }
        }

        &__arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            background: rgba(234, 234, 234, .5);
            border-radius: 5px;
            border: solid 2px rgba(90, 156, 255, .3);
            @include text(600, 18px, 16px, rgb(90, 156, 255));
            cursor: pointer;
        }
        &__arrow:hover {
            background-color: rgb(90, 156, 255);
            color: white;
        }
    }
}