.header {
    height: 60px;
    background: white;
    border-bottom: 2px solid #eaeaea;
    display: flex;
    justify-content: space-between;

    &__search{
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        padding: 0 5px;
        position: relative;
        height: 50px;
        margin: 5px;
        
      
        .clear {
          position: absolute;
          right: 0;
          width: 18px;
          height: 18px;
          top: 14px;
          right: 15px;
          cursor: pointer;
        }
      
        input {
          border: 0;
          padding: 13px;
          font-size: 16px;
          width: 200px;
          outline: none;
        }
    }

    .header__logo {
        display: flex;
        align-items: center;
        // margin: 0 20px;
        padding: 10px;
        cursor: pointer;

        svg {
            width: 40px;
            height: 40px;
        }

        &__info {
            display: flex;
            flex-direction: column;


            b {
                font-size: 13px;
                text-transform: uppercase;
            }

            span {
                font-size: 13px;
                opacity: .5;
            }
            @media screen and (min-width: 1921px) {
                b{
                    font-size: 20px;
                }
                span{
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (min-width: 1921px) {
        height: 100px;

        .header__logo {
            svg {
                width: 70px;
                height: 70px;
            }
        }
    }
}