.header {
    height: 60px;
    width: 100%;
    background: white;
    border-bottom: 2px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;

    .header-logo {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        svg {
            width: 40px;
            height: 40px;
        }

        &__info {
            display: flex;
            flex-direction: column;


            b {
                font-size: 13px;
                text-transform: uppercase;
            }

            span {
                font-size: 13px;
                opacity: .5;
            }

        }
    }
}